<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todoapp</title>
    <link rel="stylesheet" href="CSS/style.css"/>
</head>
<body>
    <div class="todo_title">
        <h2 id="todo_heading">Todo List</h2>
        <div>
            <a class="btn">Add Todo</a>
        </div>
        <br/>
        <table>
            <tr>
                <th>Title</th>
                <th>Discription</th>
                <th>Created on</th>
                <th>Updated on</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>Test title</td>
                <td>Test discription</td>
                <td>Test created on</td>
                <td>Test updated on</td>
                <td>
                    <a class="btn" href="">Edit</a>
                    <a class="btn" href="">Delete</a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>